* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display";
}

:root {
  --title-text: #052d41;
  --small-text-primary: #383e41;
  --button-bg: #ff9c00;
}

/* header */
.header {
  background-color: #f5f8f7;
  min-height: 80px;
  display: flex;
  align-items: center;
}
.header .container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo {
  background-image: url(/assets/header-logo.png);
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: 200%;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.logo-big-text {
  font-size: 32px;
  font-weight: 700;
  color: #052d41;
  letter-spacing: 2px;
}

.logo-small-text {
  color: #ffb233;
  font-size: 22px;
  font-weight: 700;
}

.menu-wrapper {
  display: flex;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 40px;
}
.menu {
  color: #052d41;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.menu-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  display: none;
}

.about-us {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.header-button {
  background-color: #ff9c00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  box-shadow: 0 2px 2px 0 rgb(119, 119, 119);
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.header-button:hover {
  transform: scale(1.1);
  background-color: #b48058;
  transition: 0.3s ease;
}

/* end header */

/* start hero-section */

.hero-section {
  background-image: url(/booking/result_hero-img.png);
  background-position: 50% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  min-height: 30vh;
}

.hero-section.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  height: 350px;
}

.hero-background {
  background: #000000;
  color: white;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  height: 350px;
  min-height: 30vh;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 30px;
}

.hero-title {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 5px;
}

.hero-content {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.hero-text1 {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.hero-text1:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.hero-arrow {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.hero-text2 {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

/* end hero-section */

/* start section1*/

.section1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(218, 231, 237, 0.436);
  padding: 64px 0;
}
.section1 .container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.box-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-title {
  width: 100%;
  font-size: 60px;
  text-align: center;
  color: #052d41;
  font-weight: 700;
}
.main-sub {
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #383e41;
  font-family: "Work Sans";
}
.content-section1 {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
}
.text-section1 {
  font-size: 18px;
  font-weight: 400;
  color: #063a55;
  box-shadow: 2px 3px 4px 0.5px #9e9e9eb5;
  background-color: #ffffff;
  padding: 20px;
  max-width: 600px;
  max-height: 400px;
}
.main-text {
}
.image-section1 {
  width: 90%;
  height: 550px;
}
.main-image-sect1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
/* end section1 */

/* start section2 */

.section2 {
  width: 100%;
  background-color: rgba(218, 231, 237, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
}
.container-section2 {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 20px;
  background-color: #052d4137;
  padding: 20px;
}
.box-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  /* justify-content: space-around; */
  gap: 30px;
  height: auto;
}
.item {
  border-radius: 8px;
  background-color: #ffffff60;
  box-shadow: 2px 3px 4px 0.5px #0000007d;
}
.image-mentor {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* end section2 */

/* start footer */

.footer {
  background-color: #f5f8f7;
  padding: 60px 0;
}
.container-footer {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 30px;
}
.box-information {
  max-width: 400px;
  width: 100%;
  height: 100%;
}
.box-contact {
  max-width: 300px;
  width: 100%;
  height: 100%;
}
.box-social-media {
  max-width: 300px;
  width: 100%;
  height: 100%;
}
.box-text-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.title-footer {
  width: 100%;
  height: auto;
  font-size: 30px;
  font-weight: bold;
  color: var(--title-text);
}
.content-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}
.text-footer {
  width: 100%;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  color: var(--small-text-primary);
}
.icon-footer {
  width: 100%;
  height: 65px;
  display: flex;
  gap: 20px;
}
.icon {
  width: 65px;
  height: 65px;
  opacity: 0.5;
}
/* end footer */

@media only screen and (max-width: 1024px) {
  .container-footer {
    flex-direction: column;
    align-items: start;
  }
  .menu-wrapper {
    display: none;
  }
  .menu-icon {
    display: block;
    order: 0;
  }
  .content-section1 {
    flex-direction: column;
  }
  .text-section1 {
    order: 1;
  }
  .header-logo {
    gap: 5px;
  }
  .logo-big-text {
    font-size: 22px;
  }
  .logo-small-text {
    font-size: 16px;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .header-button {
    font-size: 16px;
    width: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .logo-text {
    display: none;
  }
  .title-footer {
    font-size: 24px;
  }
  .text-footer {
    font-size: 16px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
  .main-title {
    font-size: 36px;
  }
  .main-text {
    font-size: 14px;
  }
  .main-sub {
    font-size: 16px;
  }
}
