* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --title-text: #052d41;
  --small-text-primary: #383e41;
  --button-bg: #ff9c00;
}

body {
  font-family: "Playfair Display";
}

.header {
  background-color: rgba(96, 161, 190, 0.367);
  min-height: 80px;
  display: flex;
  align-items: center;
}
.header .container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-toggle {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: none;
  z-index: 1100;
}

.menu-toggle span {
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 3px;
  left: 0;
  transition: 0.4s;
}

.menu-toggle span:nth-child(1) {
  top: 0;
}
.menu-toggle span:nth-child(2) {
  top: 9px;
}
.menu-toggle span:nth-child(3) {
  top: 18px;
}

.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}
.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}
.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 9px;
}

.side-menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #f5f8f7;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
  transform: translateX(-100%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu.mobile {
  text-decoration: none;
}

.menu.mobile:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.side-menu.open {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 900;
}

.overlay.show {
  display: block;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo {
  background-image: url(/assets/header-logo.png);
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: 200%;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.logo-big-text {
  font-size: 32px;
  font-weight: 700;
  color: #052d41;
  letter-spacing: 2px;
}

.logo-small-text {
  color: #ffb233;
  font-size: 22px;
  font-weight: 700;
}

.menu-wrapper {
  display: flex;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 40px;
}
.menu {
  color: #052d41;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.menu-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  display: none;
}

.header-button {
  background-color: #ff9c00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  box-shadow: 0 2px 2px 0 rgb(119, 119, 119);
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.header-button:hover {
  transform: scale(1.1);
  background-color: #b48058;
  transition: 0.3s ease;
}

.hero-section {
  background-image: url(/booking/result_hero-img.png);
  background-position: 50% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  min-height: 30vh;
}

.hero-section.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  height: 350px;
}

.hero-background {
  background: #000000;
  color: white;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  height: 350px;
  min-height: 30vh;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 30px;
}

.hero-title {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 5px;
}

.hero-content {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.hero-text1 {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.hero-text1:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.hero-arrow {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.hero-text2 {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.booking-section {
  background-color: #f9f9f9;
}

.booking-section .container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  padding: 64px 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title-big-text {
  color: var(--title-text);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.title-small-text {
  color: var(--small-text-primary);
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.top-form {
  display: flex;
  gap: 32px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  width: 100%;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-box-text {
  background-color: #ebf2f2;
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid rgb(110, 110, 110);
}

.form-text {
  background-color: #ebf2f2;
  border: 0;
  max-width: 550px;
  width: 100%;
  font: inherit;
}

.red-text {
  color: red;
}

.bottom-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bottom-form-box-text {
  background-color: #ebf2f2;
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid black;
  width: 50%;
  height: 70px;
}

.bottom-form-text {
  background-color: #ebf2f2;
  border: 0;
  width: 100%;
}

.form-button {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #337c73;
  color: white;
  border-radius: 5px;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: #35ac9e;
  transition: 0.3s ease;
}

.footer {
  background-color: rgba(96, 161, 190, 0.367);
  padding: 60px 0;
}
.container-footer {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 30px;
}
.box-information {
  max-width: 400px;
  width: 100%;
  height: 100%;
}
.box-contact {
  max-width: 300px;
  width: 100%;
  height: 100%;
}
.box-social-media {
  max-width: 300px;
  width: 100%;
  height: 100%;
}
.box-text-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.title-footer {
  width: 100%;
  height: auto;
  font-size: 30px;
  font-weight: bold;
  color: var(--title-text);
}
.content-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}
.text-footer {
  width: 100%;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  color: var(--small-text-primary);
}
.icon-footer {
  width: 100%;
  height: 65px;
  display: flex;
  gap: 20px;
}
.icon {
  width: 65px;
  height: 65px;
  opacity: 0.5;
}
/* end footer */

@media only screen and (max-width: 1024px) {
  .container-footer {
    flex-direction: column;
    align-items: start;
  }
  .menu-wrapper {
    display: none;
  }
  .menu-icon {
    display: block;
    order: 0;
  }
  .header-logo {
    gap: 5px;
  }
  .logo-big-text {
    font-size: 22px;
  }
  .logo-small-text {
    font-size: 16px;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .header-button {
    font-size: 16px;
    width: 80px;
  }
  .menu-toggle {
    display: block;
  }
}

@media only screen and (max-width: 850px) {
  .top-form {
    flex-direction: column;
  }
  .left,
  .right {
    max-width: 100%;
  }
  .form-text {
    max-width: 100%;
  }
  .bottom-form-box-text {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .logo-text {
    display: none;
  }
  .title-footer {
    font-size: 24px;
  }
  .text-footer {
    font-size: 16px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
}
