* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --title-text: #063a55;
  --small-text-primary: #383e41;
  --button-bg: #ff9c00;
}

body {
  font-family: "Playfair Display";
}

.header {
  background-color: #f5f8f7;
  min-height: 80px;
  display: flex;
  align-items: center;
}
.header .container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo {
  background-image: url(./assets/header-logo.png);
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: 200%;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.logo-big-text {
  font-size: 32px;
  font-weight: 700;
  color: #052d41;
  letter-spacing: 2px;
}

.logo-small-text {
  color: #ffb233;
  font-size: 22px;
  font-weight: 700;
}

.menu-wrapper {
  display: flex;
  gap: 40px;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu {
  color: #052d41;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.menu-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  display: none;
}

.main {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.header-button {
  background-color: #ff9c00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  box-shadow: 0 2px 2px 0 rgb(119, 119, 119);
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.header-button:hover {
  transform: scale(1.1);
  background-color: #b48058;
  transition: 0.3s ease;
}

.hero-section {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 570px;
  height: 100vh;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  filter: brightness(0.6); /* làm tối video một chút */
  max-width: 100%;
  width: 100%;
  max-height: 600px;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.hero-section .container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  padding: 64px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  color: white;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}

.hero-text {
  margin-top: 20px;
  color: white;
  max-width: 700px;
  text-align: center;
}

.hero-button {
  margin-top: 30px;
  background-color: #337c73;
  box-shadow: 0 1px 1px 0 rgb(119, 119, 119);
  border-radius: 5px;
  color: white;
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

.hero-button:hover {
  background-color: #43b4a7;
  transition: 0.3s ease;
}

.section1 {
  background-color: rgb(236, 236, 236);
  padding: 40px 0;
}

.section1 .container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.section1-content {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
  height: auto;
}

.section1-title {
  color: var(--title-text);
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-align: center;
}

.section1-speech-text {
  color: #123141;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
}

.section1-content-text1 {
  color: var(--small-text-primary);
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
}

.section1-content-text2 {
  color: var(--small-text-primary);
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}

.section1-img {
  background-image: url(./assets/BCN-pic1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 550px;
  width: 100%;
  min-height: 450px;
}

.section1-button {
  background-color: #337c73;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  box-shadow: 0 2px 2px 0 rgb(119, 119, 119);
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.section1-button:hover {
  background-color: #49b9ac;
  transition: 0.3s ease;
}

.section2 {
  background-color: #f5f8f7;
  padding: 40px 0;
}

.section2 .container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.section2-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--title-text);
}

.section2-button {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.web,
.app,
.design {
  background-color: white;
  padding: 10px 16px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgb(141, 141, 141);
}

.web:hover,
.app:hover,
.design:hover {
  background-color: #d1d1d1;
}

.section2-slider {
  position: relative;
  margin-top: 40px;
  min-height: 200px;
}

.slide {
  position: absolute;
  top: 0px;
  left: 0;
  transition: all 0.3s ease;
  transform: translateX(-50px);
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 20px 0;
  pointer-events: none;
}

.slide.active {
  position: relative;
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.slide.text {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 40px;
  color: var(--title-text);
}

.card {
  max-width: 380px;
  width: 100%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgb(114, 114, 114);
}

.card:hover {
  transform: translateY(-8px) scale(1.05);
  transition: 0.3s ease;
}

.card-img1 {
  background-image: url(./assets/user1.jpg);
  background-position: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

.card-img2 {
  background-image: url(./assets/user7.jpg);
  background-position: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

.card-img3 {
  background-image: url(./assets/user2.jpg);
  background-position: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

.card-img4 {
  background-image: url(./assets/user5.jpg);
  background-position: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

.card-img5 {
  background-image: url(./assets/user3.jpg);
  background-position: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

.card-img6 {
  background-image: url(./assets/user8.jpg);
  background-position: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

.card-detail {
  width: 100%;
  height: 150px;
  padding: 10px;
  background-color: #f5f8f7;
}

.name {
  color: var(--title-text);
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 10px;
}

.personality {
  color: var(--small-text-primary);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.more-detail {
  color: var(--small-text-primary);
  font-weight: 400;
  font-size: 16px;
}

.section3 {
  background-color: #e9f2f7;
  padding: 40px 0;
}

.section3 .container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.section3-title {
  color: var(--title-text);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.section3-content {
  margin-top: 30px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 0 rgb(131, 131, 131);
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.section3-content-card {
  background-color: #d2e2ea;
  box-shadow: 0px 2px 2px 0 rgb(175, 175, 175);
  border-radius: 20px;
  padding: 15px;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.client-detail {
  display: flex;
  gap: 5px;
  align-items: center;
}

.detail-img1 {
  background-image: url(./assets/avartar.jpg);
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 9999px;
}

.detail-img2 {
  background-image: url(./assets/avatar2.jpg);
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 9999px;
}

.detail-img3 {
  background-image: url(./assets/avatar3.jpg);
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 9999px;
}

.detail-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.client-name {
  font-weight: 700;
  font-size: 18px;
  color: var(--small-text-primary);
}

.client-mail {
  color: var(--small-text-primary);
  font-size: 500;
  font-size: 16px;
}

.client-rate {
  display: flex;
  align-items: end;
  gap: 5px;
}

.client-rate-text {
  font-weight: 700;
  font-size: 18px;
}

.star {
  width: 15px;
  height: 15px;
}

.client-comment {
  background-color: white;
  color: var(--small-text-primary);
  padding: 15px;
  border-radius: 5px;
}

.comment-like {
  display: flex;
  gap: 10px;
}

.heart {
  width: 30px;
  height: 30px;
}

.like-number {
  color: var(--small-text-primary);
  font-weight: 900;
  font-size: 18px;
}

.footer {
  background-color: #f5f8f7;
  padding: 60px 0;
}
.container-footer {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 30px;
}
.box-information {
  max-width: 400px;
  width: 100%;
  height: 100%;
}
.box-contact {
  max-width: 300px;
  width: 100%;
  height: 100%;
}
.box-social-media {
  max-width: 300px;
  width: 100%;
  height: 100%;
}
.box-text-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.title-footer {
  width: 100%;
  height: auto;
  font-size: 30px;
  font-weight: bold;
  color: var(--title-text);
}
.content-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}
.text-footer {
  width: 100%;
  height: auto;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  color: var(--small-text-primary);
}
.icon-footer {
  width: 100%;
  height: 65px;
  display: flex;
  gap: 20px;
}
.icon {
  width: 65px;
  height: 65px;
  opacity: 0.5;
}
/* end footer */

@media only screen and (max-width: 1024px) {
  .container-footer {
    flex-direction: column;
    align-items: start;
  }
  .menu-wrapper {
    display: none;
  }
  .menu-icon {
    display: block;
    order: 0;
  }
  .section1 .container {
    flex-direction: column;
  }
  .section1-img {
    order: 0;
  }
  .section1-content {
    max-width: 100%;
    align-items: center;
    order: 1;
  }
  .section3-content {
    flex-direction: column;
    align-items: center;
  }
  .header-logo {
    gap: 5px;
  }
  .logo-big-text {
    font-size: 22px;
  }
  .logo-small-text {
    font-size: 16px;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .header-button {
    font-size: 16px;
    width: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .logo-text {
    display: none;
  }
  .title-footer {
    font-size: 24px;
  }
  .text-footer {
    font-size: 16px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
  .hero-title {
    font-size: 36px;
  }
  .hero-text {
    font-size: 16px;
  }
  .section1-title {
    font-size: 24px;
  }
  .section1-speech-text,
  .section1-content-text1,
  .section1-content-text2 {
    font-size: 16px;
  }
  .section1-img {
    max-width: 400px;
    min-height: 300px;
  }
}
